*{padding: 0;
margin: 0;
box-sizing: border-box;}

html{font-family: Helvetica,Arial,sans-serif;
    scroll-behavior: smooth;
}
#main { position: relative;}
.clear {
   clear: both;
}
.text-white{
    color: #fff !important;
}


/* common */
.row{
    margin-left: -8px;
    margin-right: -8px;
    
}
.row::after{content: "";
    display: block;
    clear: both;

}
.mt-8{
    margin-top: 8px;
}
.mt-16
{margin-top: 16px;}
.mt-32{margin-top: 32px!important;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    display: block;
}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.col-third{
    width: calc(100%/3);
}
.text-center
{
    text-align: center !important;
} 
.pull-top{
    margin-top: 48px;
}
.pull-low{margin-bottom: 48px;}

/* end-common */












#header {
     position: fixed;
    height: 46px;
    background-color: #000;
    top:0;
    right:0;
    left: 0;
    z-index: 1;
    
}
#nav{
    display: inline-block;
}
#nav,.subnav{list-style-type: none;}
    #nav >li { display:inline-block;}
    #nav>li>a{color:#fff;
    text-transform: uppercase;
    line-height: 46px;}
    #nav li a{
        text-decoration: none;
            padding: 0 24px;
            display: block;
              
        }
        #nav >li:hover> a{ color: black;
                background-color: #ccc;}

    #nav li:hover .subnav{
        display: block !important;
    }
    
     
    #nav .subnav {position:absolute;
        min-width: 160px;
        top:100%;
        background-color: #fff;
        box-shadow:0 0 10px rgba(0,0,0,0.3);
        display:none ; }
    #nav .subnav li:hover a
    { color: black;
        background-color:#ccc}
    #nav .subnav a 
    {color:#000;
        line-height: 36px;
        padding: 0 12px;
    }
    #header .arrow {
       font-size: 12px;
    }
    
#header .menu-btn{
    position:absolute;
    top:0;
    right: 0;
    display: none;
}
#header .menu-btn,
 #header .search-btn{
     float:right;
    line-height: 46px;
    padding:0 21px}

 #header .menu-icon,  
 #header .search-icon{ 
     color: #fff ;
     font-size: 20px;
}

#header .menu-btn:hover{
    background-color: #ccc;
    
}
#header .menu-btn:hover .menu-icon{
    color: #000;
 }
#header .search-btn:hover
{background-color: red;
cursor: pointer;}

#slider { position: relative;
    margin-top: 46px;
    background:  url('/assets/img/NEW YORK.jpg') top center / cover no-repeat ;
    padding-top: 50%;
}
#slider .text-content{ 
    position: absolute;
    text-align: center;
    color: #fff;

    width: 100%;
    padding: 48px 0;
    bottom: 0;

}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;

}
#slider .text-description
{margin-top: 25px;
    font-size: 15px;

}

#content .content-section { padding:64px 16px ;
 width: 800px;
 max-width:100% ;
 margin-left: auto ;
 margin-right: auto;
 
}

#content .heading{font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
font-weight: 400;
}

#content .sub-heading{margin-top: 25px;
text-align: center;
font-style:italic;
opacity: 0.6;
}
#content .introduce{margin-top: 25px;
font-size: 15px;
text-align: justify;
line-height: 1.4;
text-shadow: 0 0 1px #000;
}
#content .member-list{
    margin-top: 32px ;
    margin-bottom: 48px;
}


#content .name {
    font-size: 15px;
    
}
#content .photo{margin-top: 15px;
    width: 154px;
    border-radius: 4px;

}
.tour{
    background-color: #000;
   
    
}
.ticket-list{ background-color: #fff;
    margin-top: 40px; 
    list-style-type: none;
    
}
.ticket-list li{
   color:#757575;
    padding: 11px 16px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
}
.ticket-list .sold-out{
    background-color: #f44336;
margin-left: 16px;
padding: 3.5px ;
color: #fff;

}
.ticket-list .remain {color: #fff;
    float: right;
    background-color: #000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-top: -3px;
    text-align: center;
    line-height: 24px;
}

#content .place-list{
margin-top: 32px ;
margin-bottom: 48px;
}

#content .place-img{display: block;
    width: 100%;

}
#content .place-img:hover{opacity: 0.6;

}
#content .place-body{
    background-color: #fff;
    padding: 16px;
}

#content .place-site{ font-size: 15px;
font-weight: 700;

}
#content .place-time{color: #757575;
margin-top: 15px;

}
#content .place-describe{margin: 15px 0;
    font-size: 15px;
    line-height: 1.4;


}
#content .buy-ticket{padding: 8px 16px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    display:inline-block;
    line-height: 22px;
}
#content .buy-ticket:hover{
    background-color: #ccc;
}
/* contact */




#content .contact-info{
    font-size: 18px;
    line-height: 1.5;
}
#content .contact-info i[class*=ti-]{
   width: 30px;
   display: inline-block;
}
#content .contact-info a{
    color: #2196F3;
    opacity: 0.7;

}
#content .contact-info a:hover{
    opacity: 1;
}

#content .contact-form{font-size: 15px;
}
#content .contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
} 
#content .contact-content .send{
    float: right;
    padding: 8px 16px ;
    background-color: #000;
    color: #fff;
    border: none;
}
#content .contact-content .send:hover{
    cursor: pointer;
    opacity: 0.3;

}
#content .map{filter: grayscale(50%);
max-width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer .social-list a{
    color: #000;  
    text-decoration:none;
    font-size: 24px;
    opacity: 0.6;
}
#footer .social-list a:hover,
#footer .coppy-right a:hover{
    opacity: 0.4;
}
#footer .coppy-right{  
    margin: 15px;
    font-size: 15px;
    opacity: .6;
}
#footer .coppy-right a{
    color: #000;
}




















.modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open
{
    display: flex ;
}
.modal .modal-container{
    background-color: #fff;
     width: 900px;
    min-height: 300px;
    position: relative;
    animation: modalFadeIn ease 0.5s ;
}
.modal .modal-header{
    background-color: #009688;
    height: 130px;
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
    
}
.modal .modal-heading-icon
{
    margin-right: 16px;}
.modal .modal-close{
    position: absolute; 
    right: 0;
    top: 0;
    color: #fff;
    padding: 16px;
}
.modal .modal-close:hover{
    background-color: #ccc;
    cursor: pointer;
}
.modal .modal-body{
    padding: 16px;
}
.modal .modal-input{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 20px;}
.modal .modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}
.modal .modal-pay
{   width: 100%;
    background-color: #009688;
    color: #fff;
    font-size: 15px;
    padding: 16px;
    border: none;

}
.modal .modal-pay:hover{
    opacity: 0.9;
cursor:pointer; 
}
.modal .modal-footer
{  padding: 32px 0 32px 0;
      float: right;
      font-size: 15;
}
.modal .modal-footer a{
    color: #2196F3;
}
@keyframes modalFadeIn{
 from { opacity: 0;
     transform: translateY(-150px);
}
 to{opacity: 1;
transform: translateY(0px);
}
}
